MobilePPC/GPSProxy-2.2-Source/gpsproxy2/GPSProxy.SerialPort/Web References/ServiceWrapper/GPSManager1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GPSProxy.GPSService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GPSProxy.GPSService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PathInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PathInfo" nillable="true" type="tns:PathInfo" />
  <xs:complexType name="UserInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserInfo" nillable="true" type="tns:UserInfo" />
  <xs:complexType name="GPSUploadData">
    <xs:sequence>
      <xs:element minOccurs="0" name="NMEASentence" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PathID" type="xs:int" />
      <xs:element minOccurs="0" name="PathPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Provider" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GPSUploadData" nillable="true" type="tns:GPSUploadData" />
  <xs:complexType name="GPSDataRequestParameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="LastDataID" type="xs:int" />
      <xs:element minOccurs="0" name="LatestDataOnly" type="xs:boolean" />
      <xs:element minOccurs="0" name="MaxLines" type="xs:int" />
      <xs:element minOccurs="0" name="PathID" type="xs:int" />
      <xs:element minOccurs="0" name="PathPassword" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GPSDataRequestParameter" nillable="true" type="tns:GPSDataRequestParameter" />
  <xs:complexType name="ArrayOfGPSDownloadData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GPSDownloadData" nillable="true" type="tns:GPSDownloadData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGPSDownloadData" nillable="true" type="tns:ArrayOfGPSDownloadData" />
  <xs:complexType name="GPSDownloadData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="NMEASentence" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GPSDownloadData" nillable="true" type="tns:GPSDownloadData" />
</xs:schema>