trunk/MobilePPC/GPSProxy3/GPSProxy.SerialPort/Web References/ServiceWrapper/GPSManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="GPSManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2481/GPSManager.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2481/GPSManager.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2481/GPSManager.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GPSProxy.GPSService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGPSManager_CreateNewPath_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewPath" />
  </wsdl:message>
  <wsdl:message name="IGPSManager_CreateNewPath_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewPathResponse" />
  </wsdl:message>
  <wsdl:message name="IGPSManager_GetPathList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPathList" />
  </wsdl:message>
  <wsdl:message name="IGPSManager_GetPathList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPathListResponse" />
  </wsdl:message>
  <wsdl:message name="IGPSManager_UploadGPSData_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadGPSData" />
  </wsdl:message>
  <wsdl:message name="IGPSManager_UploadGPSData_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadGPSDataResponse" />
  </wsdl:message>
  <wsdl:message name="IGPSManager_GetGPSData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGPSData" />
  </wsdl:message>
  <wsdl:message name="IGPSManager_GetGPSData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGPSDataResponse" />
  </wsdl:message>
  <wsdl:message name="IGPSManager_GetPathID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPathID" />
  </wsdl:message>
  <wsdl:message name="IGPSManager_GetPathID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPathIDResponse" />
  </wsdl:message>
  <wsdl:message name="IGPSManager_IsServiceAvailable_InputMessage">
    <wsdl:part name="parameters" element="tns:IsServiceAvailable" />
  </wsdl:message>
  <wsdl:message name="IGPSManager_IsServiceAvailable_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsServiceAvailableResponse" />
  </wsdl:message>
  <wsdl:portType name="IGPSManager">
    <wsdl:operation name="CreateNewPath">
      <wsdl:input wsaw:Action="http://tempuri.org/IGPSManager/CreateNewPath" message="tns:IGPSManager_CreateNewPath_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGPSManager/CreateNewPathResponse" message="tns:IGPSManager_CreateNewPath_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPathList">
      <wsdl:input wsaw:Action="http://tempuri.org/IGPSManager/GetPathList" message="tns:IGPSManager_GetPathList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGPSManager/GetPathListResponse" message="tns:IGPSManager_GetPathList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadGPSData">
      <wsdl:input wsaw:Action="http://tempuri.org/IGPSManager/UploadGPSData" message="tns:IGPSManager_UploadGPSData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGPSManager/UploadGPSDataResponse" message="tns:IGPSManager_UploadGPSData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGPSData">
      <wsdl:input wsaw:Action="http://tempuri.org/IGPSManager/GetGPSData" message="tns:IGPSManager_GetGPSData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGPSManager/GetGPSDataResponse" message="tns:IGPSManager_GetGPSData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPathID">
      <wsdl:input wsaw:Action="http://tempuri.org/IGPSManager/GetPathID" message="tns:IGPSManager_GetPathID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGPSManager/GetPathIDResponse" message="tns:IGPSManager_GetPathID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsServiceAvailable">
      <wsdl:input wsaw:Action="http://tempuri.org/IGPSManager/IsServiceAvailable" message="tns:IGPSManager_IsServiceAvailable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGPSManager/IsServiceAvailableResponse" message="tns:IGPSManager_IsServiceAvailable_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGPSManager" type="tns:IGPSManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateNewPath">
      <soap:operation soapAction="http://tempuri.org/IGPSManager/CreateNewPath" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPathList">
      <soap:operation soapAction="http://tempuri.org/IGPSManager/GetPathList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadGPSData">
      <soap:operation soapAction="http://tempuri.org/IGPSManager/UploadGPSData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGPSData">
      <soap:operation soapAction="http://tempuri.org/IGPSManager/GetGPSData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPathID">
      <soap:operation soapAction="http://tempuri.org/IGPSManager/GetPathID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsServiceAvailable">
      <soap:operation soapAction="http://tempuri.org/IGPSManager/IsServiceAvailable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GPSManager">
    <wsdl:port name="BasicHttpBinding_IGPSManager" binding="tns:BasicHttpBinding_IGPSManager">
      <soap:address location="http://localhost:2481/GPSManager.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>