trunk/MobilePPC/GPSProxy-2.2-Source/gpsproxy2/GPSProxy.SerialPort/Web References/ServiceWrapper/GPSManager0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2481/GPSManager.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GPSProxy.GPSService" />
  <xs:element name="CreateNewPath">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GPSProxy.GPSService" minOccurs="0" name="path" nillable="true" type="q1:PathInfo" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GPSProxy.GPSService" minOccurs="0" name="user" nillable="true" type="q2:UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewPathResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateNewPathResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPathList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchString" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GPSProxy.GPSService" minOccurs="0" name="user" nillable="true" type="q3:UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPathListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GPSProxy.GPSService" minOccurs="0" name="GetPathListResult" nillable="true" type="q4:ArrayOfPathInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadGPSData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GPSProxy.GPSService" minOccurs="0" name="data" nillable="true" type="q5:GPSUploadData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadGPSDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadGPSDataResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGPSData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GPSProxy.GPSService" minOccurs="0" name="para" nillable="true" type="q6:GPSDataRequestParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGPSDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/GPSProxy.GPSService" minOccurs="0" name="GetGPSDataResult" nillable="true" type="q7:ArrayOfGPSDownloadData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPathID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/GPSProxy.GPSService" minOccurs="0" name="path" nillable="true" type="q8:PathInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPathIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPathIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsServiceAvailable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsServiceAvailableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsServiceAvailableResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>